.infoCard1__container {
  background-color: white;
  display: inline-grid;
  align-items: center;
  width: 40%;
  height: 100%;
  width: 380px;
}

.infoCard1__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.infoCard1__descriptionDetail {
  color: black;
  font-size: smaller;
  margin-bottom: -3px;
}

.infoCard1__grouping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.infoCard1__grouping__eq {
  justify-content: center;
}

.infoCard1__grouping__hidden {
  visibility: hidden;
}

.infoCard1__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 2em;
  width: 50%;
}

.infoCard1__group__eq1 {
  width: 100%;
}
.infoCard1__group__eq2 {
  padding: 0px !important;
  width: 0%;
}

.infoCard1__title {
  color: darkgrey;
  font-style: italic;
  font-size: smaller;
  margin-bottom: -3px;
}
.infoCard1__title__eq {
  color: black !important;
  font-weight: 300;
  font-style: normal;
}

.infoCard1_subtitle {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .infoCard1__container {
    padding: 25px;
    margin-bottom: 2px;
  }
}

.hidden {
  visibility: hidden;
}
