#cardSmall__contain {
  min-height: 240px;
}

.cardSmall__container {
  padding-top: 10px;
  width: 97%;
  margin: 0px 1.5%;
}

#cardSmall__image {
  object-fit: cover;
}

#cardSmall__small {
  object-fit: cover;
}

.cardSmall__feature__logo {
  display: block;
  background-image: url(//cdn.shopify.com/s/files/1/0017/1562/t/18/assets/sqmile-svg-featured-red.svg?v=1676192…);
  background-size: cover;
  margin-bottom: 10px;
  height: 84px;
  width: 84px;
}

.cardSmall__login__line {
  text-align: center;
  font-size: 2px;
  letter-spacing: 0.5px;
  color: rgba(1, 1, 1, 0.8);
}

.cardSmall__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mask2 {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 5px !important;
  width: 97% !important;
  left: 1vw !important;
  transition: background-color 0.5s;
}

.mask2:hover {
  background-color: rgba(250, 250, 250, 0.3) !important;
}

.cardSmall__title {
  font-family: "TradeGothicLTPro-BdCn20", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: black;
  margin: 0;
  font-size: 25px !important;
  text-transform: uppercase;
  padding: 10px 0px;
}

.cardSmall__subtitle {
  font-family: "TradeGothicLTPro-BdCn20", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: 0;
  /* color: #99080c; */
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 2px;
}

.cardSmall__offer {
  background-color: rgba(199, 199, 199, 0.5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 15px;
}

.cardSmall__price {
  font-family: "TradeGothicLTPro-BdCn20", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding-top: 15px;
  top: 50px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.cardSmall__small {
  color: #f5f4f0;
  background-color: #f5f4f0;
}
