.login__container {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 1%);
  background-color: white;
  width: 65%;
  max-width: 550px;
  min-width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 2em;
}
.login__container__2 {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 1%);
  background-color: white;
  width: 65%;
  max-width: 550px;
  min-width: 400px;
  margin: auto;
  margin-top: 1.5px;
  padding: 2em;
  margin-bottom: 40px;
}

.login__header {
  font-family: "TradeGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
  margin: 5px 0px;
}

.login__line {
  text-align: center;
  color: rgb(104, 104, 104, 0.35);
}

.login__form__container {
  text-align: center;
  margin: auto;
}

.login__reset__password {
  font-family: "TradeGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #7b7b7b;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 0.5em 5.7em;
}
