.sidebar {
  display: flex;
  background-color: rgb(45, 45, 45);
  color: rgb(230, 230, 230);
  object-fit: contain;
}

.sidebar__content {
  position: relative;
  padding: 10px;
  width: 20%;
  height: 100vh;
  max-width: 200px;
  min-width: 120px;
}

.sidebar__logo {
  text-align: center;
  padding-top: 40%;
  padding-bottom: 10%;
}

.sidebar__logo__img {
  max-width: 150px;
  width: 100%;
  object-fit: contain;
  height: auto;
}

.sidebar__break {
  text-align: center;
  padding-bottom: 8px;
}

.sidebar__link {
  color: gray;
  transition: color 0.7s, border-bottom 0.7s;
  font-weight: bold;
  font-size: small;
  text-decoration: none;
}

​ .sidebar__link:hover {
  color: white;
  border-bottom: 2px solid white;
}

.sidebar__link:focus {
  color: white;
  border-bottom: 2px solid white;
}

.sidebar__active {
  color: white;
  border-bottom: 2px solid white;
  transition: color 0.7s;
}

.sidebar__unordered__list {
  padding-left: 0;
  padding-top: 8%;
}

.sidebar__list {
  list-style-type: none;
  text-align: center;
  padding: 0px 0px 15px;
}

.sidebar__pages {
  background-color: rgb(236, 236, 236);
}
.sidebar__pages > h2 {
  color: black;
}

.sidebar__list2 {
  list-style-type: none;
  text-align: center;
  padding: 0px 0px 15px;
  margin-right: 20%;
  margin-left: 20%;
}

.sidebar__list3 {
  list-style-type: none;
  text-align: center;
  padding: 0px 0px 15px;
}

#footer__size {
  font-size: x-small;
}
