.footer__container {
  padding-top: 50px;
}
.footer__group {
  display: flex;
}
.footer__section {
  border-top: 1px solid rgb(181, 181, 181, 0.6);
  border-right: 1px solid rgb(181, 181, 181, 0.6);
}
